<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nb.mapper.JFDayFlowMapper" >
  <resultMap id="BaseResultMap" type="com.nb.model.JFDayFlow" >
    <result column="rtu_id" property="rtuId" jdbcType="INTEGER" />
    <result column="mp_id" property="mpId" jdbcType="SMALLINT" />
    <result column="date" property="date" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="INTEGER" />
    <result column="ljll_zx" property="ljllZx" jdbcType="DECIMAL" />
    <result column="ljrl_zx" property="ljrlZx" jdbcType="DECIMAL" />
    <result column="ljll_fx" property="ljllFx" jdbcType="DECIMAL" />
    <result column="ljrl_fx" property="ljrlFx" jdbcType="DECIMAL" />
    <result column="ll_ljll_zx" property="llLjllZx" jdbcType="DECIMAL" />
    <result column="ll_ljll_fx" property="llLjllFx" jdbcType="DECIMAL" />
    <result column="rl_ljrl_zx" property="rlLjrlZx" jdbcType="DECIMAL" />
    <result column="rl_ljrl_fx" property="rlLjrlFx" jdbcType="DECIMAL" />
    <result column="ljsj_run" property="ljsjRun" jdbcType="INTEGER" />
    <result column="now_time" property="nowTime" jdbcType="INTEGER" />
    <result column="st" property="st" jdbcType="INTEGER" />
    <result column="source" property="source" jdbcType="TINYINT" />
  </resultMap>
  
  <update id="updateJFDayFlow" parameterType="com.nb.model.JFDayFlow" >
    update  ${tableName}
   <set>
      <if test="time != null" >
       time = #{time,jdbcType=INTEGER},
      </if>
      <if test="ljllZx != null" >
        ljll_zx = #{ljllZx,jdbcType=DECIMAL},
      </if>
      <if test="ljrlZx != null" >
       ljrl_zx = #{ljrlZx,jdbcType=DECIMAL},
      </if>
      <if test="ljllFx != null" >
        ljll_fx = #{ljllFx,jdbcType=DECIMAL},
      </if>
      <if test="ljrlFx != null" >
        ljrl_fx = #{ljrlFx,jdbcType=DECIMAL},
      </if>
      <if test="llLjllZx != null" >
        ll_ljll_zx = #{llLjllZx,jdbcType=DECIMAL},
      </if>
      <if test="llLjllFx != null" >
        ll_ljll_fx = #{llLjllFx,jdbcType=DECIMAL},
      </if>
      <if test="rlLjrlZx != null" >
        rl_ljrl_zx = #{rlLjrlZx,jdbcType=DECIMAL},
      </if>
      <if test="rlLjrlFx != null" >
        rl_ljrl_fx = #{rlLjrlFx,jdbcType=DECIMAL},
      </if>
      <if test="ljsjRun != null" >
        ljsj_run = #{ljsjRun,jdbcType=INTEGER},
      </if>
      <if test="nowTime != null" >
        now_time = #{nowTime,jdbcType=INTEGER},
      </if>
      <if test="st != null" >
        st = #{st,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=TINYINT},
      </if>
      </set>
      where rtu_id = #{rtuId,jdbcType=INTEGER}
      and mp_id = #{mpId,jdbcType=SMALLINT}
      and date = #{date,jdbcType=INTEGER}
      
  </update>
  
  
  <insert id="insertJFDayFlow" parameterType="com.nb.model.JFDayFlow" >
    insert into ${tableName}
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rtuId != null" >
        rtu_id,
      </if>
      <if test="mpId != null" >
        mp_id,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="ljllZx != null" >
        ljll_zx,
      </if>
      <if test="ljrlZx != null" >
        ljrl_zx,
      </if>
      <if test="ljllFx != null" >
        ljll_fx,
      </if>
      <if test="ljrlFx != null" >
        ljrl_fx,
      </if>
      <if test="llLjllZx != null" >
        ll_ljll_zx,
      </if>
      <if test="llLjllFx != null" >
        ll_ljll_fx,
      </if>
      <if test="rlLjrlZx != null" >
        rl_ljrl_zx,
      </if>
      <if test="rlLjrlFx != null" >
        rl_ljrl_fx,
      </if>
      <if test="ljsjRun != null" >
        ljsj_run,
      </if>
      <if test="nowTime != null" >
        now_time,
      </if>
      <if test="st != null" >
        st,
      </if>
      <if test="source != null" >
        source,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rtuId != null" >
        #{rtuId,jdbcType=INTEGER},
      </if>
      <if test="mpId != null" >
        #{mpId,jdbcType=SMALLINT},
      </if>
      <if test="date != null" >
        #{date,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=INTEGER},
      </if>
      <if test="ljllZx != null" >
        #{ljllZx,jdbcType=DECIMAL},
      </if>
      <if test="ljrlZx != null" >
        #{ljrlZx,jdbcType=DECIMAL},
      </if>
      <if test="ljllFx != null" >
        #{ljllFx,jdbcType=DECIMAL},
      </if>
      <if test="ljrlFx != null" >
        #{ljrlFx,jdbcType=DECIMAL},
      </if>
      <if test="llLjllZx != null" >
        #{llLjllZx,jdbcType=DECIMAL},
      </if>
      <if test="llLjllFx != null" >
        #{llLjllFx,jdbcType=DECIMAL},
      </if>
      <if test="rlLjrlZx != null" >
        #{rlLjrlZx,jdbcType=DECIMAL},
      </if>
      <if test="rlLjrlFx != null" >
        #{rlLjrlFx,jdbcType=DECIMAL},
      </if>
      <if test="ljsjRun != null" >
        #{ljsjRun,jdbcType=INTEGER},
      </if>
      <if test="nowTime != null" >
        #{nowTime,jdbcType=INTEGER},
      </if>
      <if test="st != null" >
        #{st,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        #{source,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  
  
  
   <select id="isExist" resultType="boolean" parameterType="com.nb.model.JFDayFlow" >
	select count('X') from ${tableName}
	where rtu_id = #{rtuId,jdbcType=INTEGER}
	and mp_id = #{mpId,jdbcType=SMALLINT}
	and date = #{date,jdbcType=INTEGER}
	<!--and time = #{time,jdbcType=INTEGER} --> 
  </select>
  
  
</mapper>