<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nb.mapper.ke.NbCommandMapper" >
  <resultMap id="BaseResultMap" type="com.nb.model.ke.NbCommand" >
    <id column="rtu_id" property="rtuId" jdbcType="INTEGER" />
    <id column="mp_id" property="mpId" jdbcType="SMALLINT" />
    <id column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
    <id column="command_type" property="commandType" jdbcType="TINYINT" />
    <result column="command_class" property="commandClass" jdbcType="TINYINT" />
    <result column="command_id" property="commandId" jdbcType="VARCHAR" />
    <result column="execute_result" property="executeResult" jdbcType="TINYINT" />
    <result column="report_time" property="reportTime" jdbcType="TIMESTAMP" />
    <result column="operator_id" property="operatorId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.nb.model.ke.NbCommand" extends="BaseResultMap" >
    <result column="command_content" property="commandContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    rtu_id, mp_id, send_time, command_type, command_class, command_id, execute_result, 
    report_time, operator_id
  </sql>
  <sql id="Blob_Column_List" >
    command_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="com.nb.model.ke.NbCommandKey" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from nb_command_200808
    where rtu_id = #{rtuId,jdbcType=INTEGER}
      and mp_id = #{mpId,jdbcType=SMALLINT}
      and send_time = #{sendTime,jdbcType=TIMESTAMP}
      and command_type = #{commandType,jdbcType=TINYINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.nb.model.ke.NbCommandKey" >
    delete from nb_command_200808
    where rtu_id = #{rtuId,jdbcType=INTEGER}
      and mp_id = #{mpId,jdbcType=SMALLINT}
      and send_time = #{sendTime,jdbcType=TIMESTAMP}
      and command_type = #{commandType,jdbcType=TINYINT}
  </delete>
  <insert id="insert" parameterType="com.nb.model.ke.NbCommand" >
    insert into nb_command_200808 (rtu_id, mp_id, send_time, 
      command_type, command_class, command_id, 
      execute_result, report_time, operator_id, 
      command_content)
    values (#{rtuId,jdbcType=INTEGER}, #{mpId,jdbcType=SMALLINT}, #{sendTime,jdbcType=TIMESTAMP}, 
      #{commandType,jdbcType=TINYINT}, #{commandClass,jdbcType=TINYINT}, #{commandId,jdbcType=VARCHAR}, 
      #{executeResult,jdbcType=TINYINT}, #{reportTime,jdbcType=TIMESTAMP}, #{operatorId,jdbcType=INTEGER}, 
      #{commandContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nb.model.ke.NbCommand" >
    insert into nb_command_200808
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rtuId != null" >
        rtu_id,
      </if>
      <if test="mpId != null" >
        mp_id,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
      <if test="commandType != null" >
        command_type,
      </if>
      <if test="commandClass != null" >
        command_class,
      </if>
      <if test="commandId != null" >
        command_id,
      </if>
      <if test="executeResult != null" >
        execute_result,
      </if>
      <if test="reportTime != null" >
        report_time,
      </if>
      <if test="operatorId != null" >
        operator_id,
      </if>
      <if test="commandContent != null" >
        command_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rtuId != null" >
        #{rtuId,jdbcType=INTEGER},
      </if>
      <if test="mpId != null" >
        #{mpId,jdbcType=SMALLINT},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commandType != null" >
        #{commandType,jdbcType=TINYINT},
      </if>
      <if test="commandClass != null" >
        #{commandClass,jdbcType=TINYINT},
      </if>
      <if test="commandId != null" >
        #{commandId,jdbcType=VARCHAR},
      </if>
      <if test="executeResult != null" >
        #{executeResult,jdbcType=TINYINT},
      </if>
      <if test="reportTime != null" >
        #{reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="commandContent != null" >
        #{commandContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nb.model.ke.NbCommand" >
    update nb_command_200808
    <set >
      <if test="commandClass != null" >
        command_class = #{commandClass,jdbcType=TINYINT},
      </if>
      <if test="commandId != null" >
        command_id = #{commandId,jdbcType=VARCHAR},
      </if>
      <if test="executeResult != null" >
        execute_result = #{executeResult,jdbcType=TINYINT},
      </if>
      <if test="reportTime != null" >
        report_time = #{reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null" >
        operator_id = #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="commandContent != null" >
        command_content = #{commandContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where rtu_id = #{rtuId,jdbcType=INTEGER}
      and mp_id = #{mpId,jdbcType=SMALLINT}
      and send_time = #{sendTime,jdbcType=TIMESTAMP}
      and command_type = #{commandType,jdbcType=TINYINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.nb.model.ke.NbCommand" >
    update nb_command_200808
    set command_class = #{commandClass,jdbcType=TINYINT},
      command_id = #{commandId,jdbcType=VARCHAR},
      execute_result = #{executeResult,jdbcType=TINYINT},
      report_time = #{reportTime,jdbcType=TIMESTAMP},
      operator_id = #{operatorId,jdbcType=INTEGER},
      command_content = #{commandContent,jdbcType=LONGVARCHAR}
    where rtu_id = #{rtuId,jdbcType=INTEGER}
      and mp_id = #{mpId,jdbcType=SMALLINT}
      and send_time = #{sendTime,jdbcType=TIMESTAMP}
      and command_type = #{commandType,jdbcType=TINYINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nb.model.ke.NbCommand" >
    update nb_command_200808
    set command_class = #{commandClass,jdbcType=TINYINT},
      command_id = #{commandId,jdbcType=VARCHAR},
      execute_result = #{executeResult,jdbcType=TINYINT},
      report_time = #{reportTime,jdbcType=TIMESTAMP},
      operator_id = #{operatorId,jdbcType=INTEGER}
    where rtu_id = #{rtuId,jdbcType=INTEGER}
      and mp_id = #{mpId,jdbcType=SMALLINT}
      and send_time = #{sendTime,jdbcType=TIMESTAMP}
      and command_type = #{commandType,jdbcType=TINYINT}
  </update>
</mapper>