<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nb.mapper.ke.NbInstantaneousMapper" >
  <resultMap id="BaseResultMap" type="com.nb.model.ke.NbInstantaneous" >
    <id column="rtu_id" property="rtuId" jdbcType="INTEGER" />
    <id column="mp_id" property="mpId" jdbcType="SMALLINT" />
    <id column="ymd" property="ymd" jdbcType="INTEGER" />
    <id column="hms" property="hms" jdbcType="INTEGER" />
    <result column="total_flow" property="totalFlow" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    rtu_id, mp_id, ymd, hms, total_flow
  </sql>
  <select id="getNbInstantaneous" resultMap="BaseResultMap" parameterType="com.nb.model.ke.NbInstantaneous" >
    select 
    <include refid="Base_Column_List" />
    from ${tableName}
    where rtu_id = #{rtuId,jdbcType=INTEGER}
      and mp_id = #{mpId,jdbcType=SMALLINT}
      and ymd = #{ymd,jdbcType=INTEGER}
      and hms = #{hms,jdbcType=INTEGER}
  </select>
  
    <select id="isExist" parameterType="com.nb.model.ke.NbInstantaneous" resultType="boolean" >
    select count('X')  from ${tableName}
    where rtu_id = #{rtuId,jdbcType=INTEGER}
      and mp_id = #{mpId,jdbcType=SMALLINT}
      and ymd = #{ymd,jdbcType=INTEGER}
      and hms = #{hms,jdbcType=INTEGER}
  </select>
  
  
  <delete id="deleteNbInstantaneous" parameterType="com.nb.model.ke.NbInstantaneous" >
    delete from ${tableName}
    where rtu_id = #{rtuId,jdbcType=INTEGER}
      and mp_id = #{mpId,jdbcType=SMALLINT}
      and ymd = #{ymd,jdbcType=INTEGER}
      and hms = #{hms,jdbcType=INTEGER}
  </delete>
   
  <insert id="insertNbInstantaneous" parameterType="com.nb.model.ke.NbInstantaneous" >
    insert into ${tableName}
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rtuId != null" >
        rtu_id,
      </if>
      <if test="mpId != null" >
        mp_id,
      </if>
      <if test="ymd != null" >
        ymd,
      </if>
      <if test="hms != null" >
        hms,
      </if>
      <if test="totalFlow != null" >
        total_flow,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rtuId != null" >
        #{rtuId,jdbcType=INTEGER},
      </if>
      <if test="mpId != null" >
        #{mpId,jdbcType=SMALLINT},
      </if>
      <if test="ymd != null" >
        #{ymd,jdbcType=INTEGER},
      </if>
      <if test="hms != null" >
        #{hms,jdbcType=INTEGER},
      </if>
      <if test="totalFlow != null" >
        #{totalFlow,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateNbInstantaneous" parameterType="com.nb.model.ke.NbInstantaneous" >
    update ${tableName}
    <set >
      <if test="totalFlow != null" >
        total_flow = #{totalFlow,jdbcType=DECIMAL},
      </if>
    </set>
    where rtu_id = #{rtuId,jdbcType=INTEGER}
      and mp_id = #{mpId,jdbcType=SMALLINT}
      and ymd = #{ymd,jdbcType=INTEGER}
      and hms = #{hms,jdbcType=INTEGER}
  </update>
  
</mapper>