<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/NBWaterMeterCollection/info.log</File>
        <append>true</append>
        <!--过滤器,只打INFO级别的日志-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/NBWaterMeterCollection/info.log.%d</fileNamePattern>
            <maxHistory>180</maxHistory>
        </rollingPolicy>

        <encoder charset="UTF-8">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %level [%thread] %file:%line - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/NBWaterMeterCollection/error.log</File>
        <append>true</append>
        <!--过滤器,只打ERROR级别的日志-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/NBWaterMeterCollection/error.log.%d</fileNamePattern>
            <maxHistory>180</maxHistory>
        </rollingPolicy>

        <encoder charset="UTF-8">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %level [%thread] %file:%line - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--不同业务逻辑的日志打印到不同文件-->
    <appender name="CallbackAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/NBWaterMeterCollection/callback.log</File>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
<!--             <onMatch>ACCEPT</onMatch> -->
<!--             <onMismatch>DENY</onMismatch> -->
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/NBWaterMeterCollection/callback.log.%d</fileNamePattern>
            <maxHistory>180</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %level [%thread] %file:%line - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="CALLBACK" additivity="false" level="INFO">
        <appender-ref ref="CallbackAppender"/>
    </logger>
    
    <appender name="HistoryDataAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/NBWaterMeterCollection/historyData.log</File>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
<!--             <onMatch>ACCEPT</onMatch> -->
<!--             <onMismatch>DENY</onMismatch> -->
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/NBWaterMeterCollection/historyData.log.%d</fileNamePattern>
            <maxHistory>120</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %level [%thread] %file:%line - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="HISTORYDATA" additivity="false" level="INFO">
        <appender-ref ref="HistoryDataAppender"/>
    </logger>

    <logger name="com.nb" level="INFO"/>
    <logger name="com.nb" level="ERROR"/>

	<!--info和error分开打印 -->
	<root level="INFO">
		<appender-ref ref="INFO" />
		<appender-ref ref="ERROR" />
	</root>

</configuration>
